/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  width: 100%;
  min-height: 100%;
}

.main {
  height: 110vh;
  padding-top: 3vh;
  padding-right: 10vh;
  padding-bottom: 3vh;
  padding-left: 10vh;
  background-image: url("/asset/img/slider/img_bg_slider_home01.jpg");
  background-size: contain;
  display: block;
  background-size: cover;
  font-family: "Cormorant Infant", serif;
}
.main .main_nav {
  color: white;
  text-decoration: none;
  text-align: center;
  justify-self: center;
  border: none;
}
.main .navbar {
  display: grid;
  grid-gap: 10vh 10vh;
  grid-template-columns: auto auto auto;
  height: auto;
}
.main .navbar .marque {
  margin-top: 20px;
}
.main .navbar .nav {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  height: 0px;
  margin-left: 50px;
}
.main .navbar .nav .home {
  width: 100px;
}
.main .navbar .nav .about {
  width: 100px;
}
.main .navbar .nav .page {
  width: 100px;
}
.main .navbar .nav .shop {
  width: 100px;
}
.main .navbar .nav .contact {
  width: 100px;
}
.main .navbar .tel {
  margin-top: 30px;
  color: white;
}
.main .navbar .reservation {
  display: grid;
  grid-template-columns: auto auto;
  grid-column: 6/8;
  justify-content: end;
  grid-gap: 1.5em;
  height: 5%;
}
.main .navbar .reservation .booking {
  color: white;
}
.main .navbar .reservation .book {
  border-radius: 5px;
  border: none;
  background-color: #C8A96A;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.main .navbar .reservation .arrow {
  width: 10%;
  height: 10%;
  filter: invert(100%);
}
.main .intro {
  display: grid;
  padding-left: 5%;
  text-transform: uppercase;
  color: white;
}
.main .intro h1 {
  font-size: 125px;
  font-weight: normal;
  text-align: left;
  display: block;
  width: 50%;
  line-height: 1em;
  margin-bottom: 25px;
}
.main .intro h1 img.quality {
  -o-object-position: right top;
     object-position: right top;
  position: relative;
}
.main .intro .explore {
  border: #2C3034 solid 0.1vh;
  border-radius: 5px;
  font-weight: bold;
  padding: 15px 32px;
  text-align: left;
  font-size: 100%;
  margin-left: 0px;
  color: white;
}
.main .intro .explore .arrow {
  width: 2vh;
  height: 2vh;
  filter: invert(100%);
}

.category {
  font-family: "Cormorant Infant", serif;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, rgba(250, 246, 240, 0.6) 0%, rgba(250, 246, 240, 0.6) 80%, rgba(255, 255, 255, 0.6) 80%, rgba(255, 255, 255, 0.6) 100%), url("/asset/img/banner/imgbgcategory.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  height: 100%;
}
.category .head {
  overflow: hidden;
}
.category .head .watermark {
  font-size: 160px;
  color: #F5EEE3;
  position: absolute;
  z-index: 0;
}
.category .head .title {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 35px;
  font-weight: normal;
  padding-top: 60px;
  margin-bottom: 0px;
  margin-top: 0px;
  z-index: 2;
  position: relative;
}
.category .head .subtitle {
  padding-left: 40%;
  padding-right: 40%;
  font-weight: normal;
  text-transform: none;
  text-align: center;
  margin-top: 0%;
  z-index: 2;
  position: relative;
}
.category .menu {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 5%;
}
.category .menu .grid-menu {
  color: black;
  text-align: center;
  background-color: white;
  width: 146px;
  height: 146px;
  padding: 22px;
  text-transform: none;
  justify-content: center;
  align-items: center;
}
.category .menu .grid-menu .arrow {
  width: 15px;
  height: 15px;
}
.category .menu .grid-menu .illu {
  height: 36.5px;
  display: grid;
}
.category .menu .grid-menu .select {
  text-decoration: none;
  text-align: center;
  color: black;
}
.category .menu .grid-menu p {
  margin: 1vh;
  margin-bottom: 2vh;
}
.category .menu .grid-menu:hover {
  color: white;
  background-color: #C8A96A;
}
.category .menu .grid-menu:hover .arrow {
  width: 2vh;
  height: 2vh;
  filter: invert(100%);
}
.category .menu .grid-menu:hover .illu {
  filter: brightness(0%) invert(100%);
}
.category .menu .grid-menu:hover .select {
  color: white;
  text-decoration: none;
}
.category .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0px;
  padding-top: 0px;
  margin-bottom: 150px;
}
.category .content .plates {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  bottom: -150vh;
}
.category .content .plates .crepes {
  width: 15em;
  padding-bottom: 5em;
  margin-bottom: -35vh;
}
.category .content .plates .bowl {
  width: 30em;
  border: solid white 2em;
  border-radius: 50%;
}
.category .content .plates .eggs {
  width: 20em;
  padding-bottom: 9em;
  margin-bottom: -45vh;
}

.about .us .watermark {
  font-size: 160px;
  color: #F5EEE3;
  position: absolute;
  z-index: -1;
  font-family: "Cormorant Infant", serif;
  text-transform: uppercase;
  font-size: 15hv;
}
.about .us .title {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 30px;
  padding-top: 15px;
  z-index: 2;
  position: relative;
}
.about .us .title h2 {
  font-family: "Cormorant Infant", serif;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 45px;
  margin-bottom: 0px;
}
.about .us .title .quality {
  float: right;
  width: 200px;
  padding-bottom: 25px;
  padding-left: 50px;
}
.about .us .subtitle {
  padding-left: 40%;
  padding-right: 40%;
  font-weight: normal;
  text-transform: none;
  text-align: center;
  font-family: "Cormorant Infant", serif;
  font-weight: none;
  margin-top: 0px;
}
.about .us .abtus {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 20%;
  padding-top: 0px;
  padding-right: 20%;
  padding-bottom: 75px;
  grid-gap: 1em;
  width: 100%;
}
.about .us .abtus .lutin {
  width: 100%;
}
.about .us .abtus .discover .latin {
  font-family: "Cormorant Infant", serif;
  font-weight: none;
  font-size: 34px;
  width: 85%;
  margin-top: 50px;
  margin-bottom: 75px;
}
.about .us .abtus .discover .button {
  border-radius: 5px;
  background-color: #C8A96A;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  color: white;
}
.about .us .abtus .discover .button .arrow {
  width: 2%;
  height: 2%;
  filter: invert(100%);
}

.special-offer {
  background: url("/asset/img/our-menu/imgbg-our-menu.jpg") right no-repeat, url("/asset/img/our-menu/img2bg-our-menu.jpg") left bottom no-repeat, #FAF6F0;
  background-size: 540px, auto;
  filter: opacity(100%);
  height: 1000px;
}
.special-offer .offer .watermark {
  font-size: 160px;
  color: #F5EEE3;
  z-index: -1;
  position: absolute;
  font-family: "Cormorant Infant", serif;
  text-transform: uppercase;
  padding-top: 55px;
}
.special-offer .offer .title {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 40px;
  font-weight: normal;
  padding-top: 110px;
  margin-bottom: 0px;
  font-family: "Cormorant Infant", serif;
  font-weight: normal;
  text-transform: uppercase;
}
.special-offer .offer .subtitle {
  padding-left: 40%;
  padding-right: 40%;
  font-weight: normal;
  text-transform: none;
  text-align: center;
  margin-top: 0%;
}
.special-offer .offer .grid-offer {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 50px 50px;
  padding: 5% 11%;
}
.special-offer .offer .grid-offer .plate {
  display: grid;
  grid-template-columns: 75% 25%;
  text-align: left;
  border-radius: 5px;
  background-color: white;
  padding-left: 8%;
  padding-right: 8%;
  border: solid 2px white;
}
.special-offer .offer .grid-offer .plate:hover {
  border: dashed 2px #C8A969;
}
.special-offer .offer .grid-offer .plate .plate-name {
  font-family: "Cormorant Infant", serif;
  font-size: 25px;
  font-weight: normal;
  margin-top: 5%;
  margin-bottom: 2%;
}
.special-offer .offer .grid-offer .plate .description {
  text-align: left;
  color: #666666;
  margin-top: 2%;
  margin-bottom: 5%;
}
.special-offer .offer .grid-offer .plate .price {
  text-align: right;
  font-size: 50px;
  font-family: "Cormorant Infant", serif;
  color: #C8A969;
  justify-content: center;
  align-self: center;
}

.gallery {
  height: 1250px;
}
.gallery .header {
  height: 200px;
}
.gallery .header .watermark {
  font-size: 160px;
  color: #F5EEE3;
  position: absolute;
  z-index: -1;
  font-family: "Cormorant Infant", serif;
  text-transform: uppercase;
}
.gallery .header .title {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 35px;
  padding-top: 65 px;
  z-index: 1;
  position: relative;
}
.gallery .header h2 {
  font-family: "Cormorant Infant", serif;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 60px;
  margin-top: 45px;
  margin-bottom: 0px;
}
.gallery .header .subtitle {
  padding-left: 40%;
  padding-right: 40%;
  font-weight: normal;
  text-transform: none;
  text-align: center;
  font-family: "Cormorant Infant", serif;
  font-weight: none;
  margin-top: 0px;
}
.gallery .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 75px;
}
.gallery .content .break {
  flex-basis: 100%;
  height: 0px;
}
.gallery .content .noodles {
  z-index: 0;
  position: relative;
}
.gallery .content .noodles:hover img {
  filter: brightness(35%);
}
.gallery .content .noodles .text {
  height: 400px;
  z-index: 2;
  position: absolute;
  font-family: "Cormorant Infant", serif;
  text-align: center;
  filter: opacity(0%);
}
.gallery .content .noodles .text h4 {
  padding-top: 100px;
  font-size: 42px;
  margin-bottom: 2px;
}
.gallery .content .noodles .text p {
  font-size: 24px;
}
.gallery .content .noodles .text .arrow {
  padding-left: 600px;
}
.gallery .content .noodles .text:hover {
  filter: opacity(100%);
  filter: invert(100%);
}
.gallery .content .noodles img {
  filter: brightness(100%);
}

a {
  font-family: "Cormorant Infant", serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  border: #2C3034 solid 0.1vh;
  border-radius: 5px;
  font-weight: bold;
  padding: 15px 32px;
  text-align: left;
  font-size: 100%;
  margin-left: 650px;
}
a .arrow {
  width: 13px;
  height: 13px;
}

.chefs {
  font-family: "Cormorant Infant", serif;
  background: radial-gradient(circle, rgb(50, 50, 50) 0%, rgb(38, 38, 38) 35%, rgb(0, 0, 0) 100%);
  height: 750px;
}
.chefs .watermark {
  font-size: 160px;
  color: #212121;
  position: absolute;
  z-index: 0;
  text-transform: uppercase;
  padding-top: 45px;
}
.chefs .title {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 34px;
  font-weight: normal;
  padding-top: 110px;
  margin-bottom: 0px;
  margin-top: 0px;
  z-index: 2;
  position: relative;
  color: white;
}
.chefs h2 {
  font-family: "Cormorant Infant", serif;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 90px;
  margin-top: 45px;
  margin-bottom: 0px;
}
.chefs .subtitle {
  padding-left: 40%;
  padding-right: 40%;
  font-weight: normal;
  text-transform: none;
  text-align: center;
  font-family: "Cormorant Infant", serif;
  font-weight: none;
  margin-top: 0px;
  color: white;
  z-index: 1;
  position: relative;
}
.chefs .cooks {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top: 100px;
  justify-content: space-around;
  padding-right: 270px;
  padding-left: 270px;
}
.chefs .cooks .guy img {
  height: 300px;
}

footer {
  width: 100%;
  background-image: url("/asset/img/footer/img-ng-footer.jpg");
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw;
}
footer figure img {
  width: 50%;
  height: auto;
}
footer article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
  padding: 5vw;
  border-bottom: 1px solid white;
}
footer article ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 1vw;
}
footer article ul li {
  list-style: none;
  margin: 0 1em;
  line-height: 2vw;
  color: white;
}
footer article ul li h3 {
  color: white;
  text-decoration: none;
}
footer article .Newsletters {
  max-width: 26vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-content: flex-start;
  justify-content: flex-start;
}
footer article .Newsletters .form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
footer article .Newsletters .form input {
  width: 27vw;
  height: 3vw;
  background: white;
  color: red;
  padding: 0;
  font-size: 1.3vw;
  outline: none;
}
footer article .Newsletters .form button {
  width: 3vw;
  height: 3vw;
  background: gold;
  transition: all 0.3s ease;
  flex-direction: row;
  cursor: pointer;
}
footer .Copyright {
  max-height: 5vh;
  padding: 0vw;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20vw;
  color: white;
  border-bottom: 0px solid white;
}
footer .Copyright div {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: start;
}
footer .Copyright div p {
  justify-self: flex-start;
}
footer .Copyright div img {
  margin-top: -6vh;
}
footer .Copyright ul {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}/*# sourceMappingURL=style.css.map */