.about {
    .us {
        .watermark {
            font-size: 160px;
            color: #F5EEE3;
            position: absolute;
            z-index: -1;
            font-family: $font-stack;
            text-transform: $caps;
            font-size: 15hv;
        }

        .title {
            text-align: center;
            padding-left: 20%;
            padding-right: 20%;
            font-size: 30px;
            padding-top: 15px;
            z-index:2;
            position:relative;
            h2 {
                font-family: $font-stack;
                text-transform: $caps;
                font-weight: normal;
                margin-top: 45px;
                margin-bottom: 0px;
            }

            .quality {
                float: right;
                width: 200px;
                padding-bottom: 25px;
                padding-left:50px;
            }
        }
    
        .subtitle {
            padding-left: 40%;
            padding-right: 40%;
            font-weight: normal;
            text-transform: none;
            text-align: center;
            font-family: $font-stack;
            font-weight: none;
            margin-top: 0px;
        }
        
        .abtus {
            display: grid;
            grid-template-columns: auto auto;
            padding-left: 20%;
            padding-top:0px;
            padding-right: 20%;
            padding-bottom: 75px;
            grid-gap: 1em;
            width: 100%;
            .lutin {
                width: 100%;
            }
            .discover {
                .latin {
                    font-family: $font-stack;
                    font-weight: none;
                    font-size: 34px;
                    width: 85%;
                    margin-top:50px;
                    margin-bottom: 75px;
                }
                .button {
                    border-radius: 5px;
                    background-color: #C8A96A;
                    font-weight: bold;
                    text-transform: $caps;
                    margin-left: 20px;
                    margin-right: 20px;
                    padding-left: 30px;
                    padding-right: 30px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    text-decoration: none;
                    color: white;
                    .arrow {
                        width: 2%;
                        height: 2%;
                        filter: invert(100%);
                    }
                }
            }    
        }
    }
}