footer {
	width: 94%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5vh;
	background-color:red;
	color: hsla(0, 0%, 100%, 0.5);
	padding: 5% 5%;
	
			h2 {
				figure {
						img {
							width: 10vw;
						}
					}
				}
	
				article {
					background-color: blue;
					width: 100%;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;
					gap: 5vw;
					padding: 2vh 0;}

				}