footer {
		width: 100%;
		background-image: url("/asset/img/footer/img-ng-footer.jpg");
		background-repeat: no-repeat;
		background-color: black;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 5vw;
			figure {
				img{
					width: 50%;
					height: auto;
				}
			}
				article{
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: space-around;
					padding:5vw;
					border-bottom: 1px solid $color-footer;
				

						ul {
							display:flex;
							flex-direction:column;
							justify-content: flex-start;
							align-content: flex-start;
							gap: 1vw;

								
							li {
								list-style: none;
								margin: 0 1em;
								line-height: 2vw;
								color: $color-footer;
								h3 {
									color: $color-footer;
									text-decoration: none;
									
									}
								}
							 }
							.Newsletters {
								max-width: 26vw;
								display: flex;
								flex-direction: column;
								gap: 1vw;
								align-content: flex-start;
								justify-content: flex-start;
							
								.form {
									display:flex;
									flex-direction:row;
									align-items:flex-end;
									justify-content:flex-end;

										input {
											width: 27vw;
											height: 3vw;
											background:white;
											color: red;
											padding: 0;
											font-size: 1.3vw;
											outline: none;
												}
										button {
											width: 3vw;
											height: 3vw;
											background:gold;
											transition: all .3s ease;
											flex-direction: row;
											cursor: pointer;
												}	
											}

										}			
									}		
							
				.Copyright {
					max-height: 5vh;
					padding: 0vw;
					display: inline-flex;
					flex-direction: row;
					justify-content: space-between;
					gap: 20vw;
				


					
					
					color: $color-footer;
					border-bottom: 0px solid $color-footer;
					div {
						align-self: flex-start;
						display : flex;
						flex-direction: row;
						align-items: start;
					

						p {justify-self: flex-start;}

						img{
						    margin-top: -6vh;
						}

					}
					ul {
						color: $color-footer;
						display: flex;
						flex-direction: row;
						justify-content: flex-end;
						
						
					}
					}
				}			
						
						
						
				
							
						

