.special-offer {
    background: url("/asset/img/our-menu/imgbg-our-menu.jpg") right no-repeat, url("/asset/img/our-menu/img2bg-our-menu.jpg") left bottom no-repeat, #FAF6F0;
    background-size: 540px, auto;
    filter:opacity(100%);
    height: 1000px;
    .offer {
        .watermark {
            font-size: 160px;
            color: #F5EEE3;
            z-index:-1;
            position:absolute;
            font-family: $font-stack;
            text-transform:$caps;
            padding-top: 55px;
        }
        .title {
            text-align: center;
            padding-left: 20%;
            padding-right: 20%;
            font-size: 40px;
            font-weight: normal;
            padding-top: 110px;
            margin-bottom: 0px;
            font-family: $font-stack;
            font-weight: normal;
            text-transform: $caps;
        }
        .subtitle {
            padding-left: 40%;
            padding-right: 40%;
            font-weight: normal;
            text-transform: none;
            text-align: center;
            margin-top: 0%;
        }
        .grid-offer {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 50px 50px;
            padding: 5% 11%;
            .plate {
                display:grid;
                grid-template-columns: 75% 25%;
                text-align: left;
                border-radius:5px;
                background-color: white;
                padding-left: 8%;
                padding-right: 8%;
                border: solid 2px white;
                &:hover {
                    border: dashed 2px #C8A969;
                }
                .plate-name {
                    font-family: $font-stack;
                    font-size: 25px;
                    font-weight: normal;
                    margin-top: 5%;
                    margin-bottom: 2%;
                }
                .description {
                    text-align: left;
                    color: #666666;
                    margin-top: 2%;
                    margin-bottom: 5%;
                }
                .price {
                    text-align: right;
                    font-size: 50px;
                    font-family: $font-stack;
                    color: #C8A969;
                    justify-content: center;
                    align-self: center;
                }
            }
        }
    }
}