.gallery {
    height:1300px;
    .header {
        height:200px;
        .watermark {
            font-size: 160px;
            color: #F5EEE3;
            position: absolute;
            z-index: -1;
            font-family: $font-stack;
            text-transform: $caps;
        }
        .title {
            text-align: center;
            padding-left: 20%;
            padding-right: 20%;
            font-size: 35px;
            padding-top: 65 px;
            z-index:1;
            position:relative;
        }
        h2 {
            font-family: $font-stack;
            text-transform: $caps;
            font-weight: normal;
            padding-top:60px;
            margin-top: 45px;
            margin-bottom: 0px;
        }
        .subtitle {
            padding-left: 40%;
            padding-right: 40%;
            font-weight: normal;
            text-transform: none;
            text-align: center;
            font-family: $font-stack;
            font-weight: none;
            margin-top: 0px;
        }
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 27px;
        margin-bottom:80px;
        .break {
            flex-basis: 100%;
            height: 0;
        }
        }
    }
    
    //.food {
        //.hover {
        //    font-family: $font-stack;
        //    filter:opacity(0%);
        //    position: absolute;
        //    z-index:2;
        //}
        //&:hover {
        //    color:white;
        //    filter:opacity(100%);
        //    .arrow {
         //       filter: invert(100%);
           // }
        //}
    //}
    a {
        font-family: $font-stack;
        text-transform: $caps;
        text-decoration: none;
        color: black;
        border: #2C3034 solid 0.1vh;
        border-radius:5px;
        font-weight: bold;
        padding: 15px 32px;
        text-align: left;
        font-size: 100%;
        margin-left: 650px;
        .arrow {
            width: 13px;
            height:13px;
        }
}
