.gallery {
    height:1250px;
    .header {
        height:200px;
        .watermark {
            font-size: 160px;
            color: #F5EEE3;
            position: absolute;
            z-index: -1;
            font-family: $font-stack;
            text-transform: $caps;
        }
        .title {
            text-align: center;
            padding-left: 20%;
            padding-right: 20%;
            font-size: 35px;
            padding-top: 65 px;
            z-index:1;
            position:relative;
        }
        h2 {
            font-family: $font-stack;
            text-transform: $caps;
            font-weight: normal;
            padding-top:60px;
            margin-top: 45px;
            margin-bottom: 0px;
        }
        .subtitle {
            padding-left: 40%;
            padding-right: 40%;
            font-weight: normal;
            text-transform: none;
            text-align: center;
            font-family: $font-stack;
            font-weight: none;
            margin-top: 0px;
        }
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom:75px;
        .break {
            flex-basis: 100%;
            height: 0px;
        }
        .noodles {
            z-index:0;
            position:relative;
            .text {
                height:400px;
                z-index:2;
                position:absolute;
                font-family: $font-stack;
                text-align: center;
                filter:opacity(0%);
                h4 {
                    padding-top: 100px;
                    font-size: 42px;
                    margin-bottom: 2px;
                }
                p {
                    font-size: 24px;
                }
                .arrow {
                    padding-left:600px;
                }
                &:hover {
                    filter:opacity(100%);
                    filter:invert(100%);
                }
            }
            img {
                filter:brightness(35%);
                z-index:1;
            }
            //.filter:hover {
            //    z-index:1;
            //    position:absolute;
            //    filter:brightness(35%);
            //}
        }
    }
}    
    a {
        font-family: $font-stack;
        text-transform: $caps;
        text-decoration: none;
        color: black;
        border: #2C3034 solid 0.1vh;
        border-radius:5px;
        font-weight: bold;
        padding: 15px 32px;
        text-align: left;
        font-size: 100%;
        margin-left: 650px;
        .arrow {
            width: 13px;
            height:13px;
        }
    }
