$font-stack: 'Cormorant Infant', serif;
$color-title: white; 
$color-header: black;
$color-chef: white;
$color-text: black;
$color-gallery: white;
$caps: uppercase; 
$color-footer: white;
$color-link: #CB9925;
